{% extends 'base.html.twig' %}

{% block title %}Investisseur index{% endblock %}

{% block body %}
    <h1>Investisseur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>NomSociete</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for investisseur in investisseurs %}
            <tr>
                <td>{{ investisseur.id }}</td>
                <td>{{ investisseur.Adresse }}</td>
                <td>{{ investisseur.NomSociete }}</td>
                <td>
                    <a href="{{ path('investisseur_show', {'id': investisseur.id}) }}">show</a>
                    <a href="{{ path('investisseur_edit', {'id': investisseur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('investisseur_new') }}">Create new</a>
{% endblock %}
