{% extends 'base.html.twig' %}

{% block title %}Convention index{% endblock %}

{% block body %}
<nav class="navbar justify-content-between">
    <a class="navbar-brand" href="/dashboard/convention"><h1>Convention index</h1></a>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        {{ form_end(form) }}
  </nav>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Projet</th>
                <th>Nom Societe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for convention in conventions %}
            <tr>
                <td>{{ convention.id }}</td>
                <td>{{ convention.CodeP }}</td>
                <td>{{ convention.Mat }}</td>
                <td>
                    <a href="{{ path('convention_show', {'id': convention.id}) }}">show</a>
                    <a href="{{ path('convention_edit', {'id': convention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('convention_new') }}">Create new</a>
{% endblock %}
